<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT APP | ログイン</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <p class="Form-Item-Label">{{msg}}</p>
    <form action="/sign-in" method="post">
        <div class="Form">
            <div class="Form-Item">
              <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>氏名</p>
              <input type="text" class="Form-Item-Input" name="name" placeholder="例）山田太郎">
            </div>
            <div class="Form-Item">
              <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>パスワード</p>
              <input class="Form-Item-Input" name="password" type="password"></textarea>
            </div>
            <input type="submit" class="Form-Btn" value="ログイン">
        </div>
    </form>
</body>
</html>