<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>選択ページ</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="header-left">基本情報者試験過去問</div>
        <div class="header-right">
            <button class="icon" onclick="colorPallete()"></button>
            <div id="paletteContainer"></div>
            <span class="username">
                {% if data['username'] %}
                {{data['username']}}
                 HS:
                {{data['highscore']}}
                 XP:
                {{data['xp']}}
                {% else %}
                User
                {% endif %}
            </span>
        </div>
    </header>

    <nav>
        <ul>
            <button><li><a href="/get-result?request=correct">正解した問題一覧</a></li></button>
            <button><li><a href="/get-result?request=incorrect">不正解一覧</a></li></button>
            <button><li><a href="/view-selection">年度選択</a></li></button>
            <button><li><a href="/view-filter">問題検索</a></li></button>
            <button><li><a href="/">公式サイトはこちら</a></li></button>
        </ul>
    </nav>
        <!-- <form action="/random"><button type="submit">try</button></form> -->
    {% if data['msg'] %}<p id="msg">{{data['msg']}}</p>{% endif %}
    {% if data['questions'] %}
    <div class="question-container">
        {% for question in  data['questions']%}
        <form action="/answer" method="post" class="answer-form">
            {% if question['src'] %}
            <img src="{{question['src']}}" alt="question image">
            {% endif %}
            <p class="question-text">{{question['question']}}</p>
            <button type="submit" name="guess" value="ア" class="answer-btn">
                <span class="answer-label">ア：　</span>
                {% if question['a'] == "None" %}
                {% else %}
                {{question['a']}}
                {% endif %}
            </button>
            <button type="submit" name="guess" value="イ" class="answer-btn">
                <span class="answer-label">イ：　</span>
                {% if question['i'] == "None" %}
                {% else %}
                {{question['i']}}
                {% endif %}
            </button>
            <button type="submit" name="guess" value="ウ" class="answer-btn">
                <span class="answer-label">ウ：　</span>
                {% if question['u'] == "None" %}
                {% else %}
                {{question['u']}}
                {% endif %}
            </button>
            <button type="submit" name="guess" value="エ" class="answer-btn">
                <span class="answer-label">エ：　</span>
                {% if question['e'] == "None" %}
                {% else %}
                {{question['e']}}
                {% endif %}
            </button>
            <input type="hidden" name="answer" value="{{question['answer']}}">
            <input type="hidden" name="id" value="{{question['id']}}">
        </form>
        {% endfor %}
    </div>
    {% elif data['result'] %}
    <div class="question-container">
        <table>
        <tr>
            <td>年度</td>
            <td>季節</td>
            <td>番号</td>
            <td>問題リンク</td>
        </tr>
        {% for item in data['result'] %}
        <tr>
            <td>{{item.year}}</td>
            <td>{{item.season}}</td>
            <td>{{item.number}}</td>
            <td><a href="/get-question?id={{item.id}}">⇒</a></td>
        </tr>
        {% endfor %}
        </table>
    </div>
    {% elif data['viewFilter'] %}
    <div class="question-container">
        <form action="/filter" method="post" class="search-form">
            <input type="text" name="keyword" class="text-input">
            <button><input type="submit" value="検索"></button>
        </form>
    </div>
    {% elif data['searchResult'] %}
    <div class="question-container">
        <table>
            <tr><td>タイトル</td><td>ID</td></tr>
        {% for result in  data['searchResult']%}
        <tr>
            <td>{{result['title']}}</td>
            <td><a href="/get-question?id={{result['id']}}">{{result['id']}}⇒</a></td>
        </tr>
        {% endfor %}
    </table>
    </div>
    {% else %}
    <main>
        <div class="selection-container">
            <h2>選択</h2>
            <form action="/by-year" method="post">
                <div class="radio-group">
                    <label><input type="radio" name="year" value="4"> 令和4年度</label>
                    <label><input type="radio" name="year" value="3"> 令和3年度</label>
                    <label><input type="radio" name="year" value="2"> 令和2年度</label>
                    <label><input type="radio" name="year" value="1"> 令和1年度</label>
                    <label><input type="radio" name="year" value="31"> 平成31年度</label>
                    <label><input type="radio" name="year" value="30"> 平成30年度</label>
                    <label><input type="radio" name="year" value="29"> 平成29年度</label>
                    <label><input type="radio" name="year" value="28"> 平成28年度</label>
                </div>
                <button type="submit">出題</button>
            </form>
        </div>
    </main>
    {% endif %}
</body>
<script>
const colors = [
["black", "white", "red", "green", "yellow"],
["brown", "pink", "orange", "purple", "silver"]
];
function colorPallete(){
    const element = document.getElementById("paletteContainer");
    let palette = document.createElement("div");
    palette.id = "palette";
    palette.style.zIndex = 2;
    palette.style.position = "absolute";
    for(let row = 0; row < colors.length; row++){
        let paletteRow = document.createElement("div");
        paletteRow.id = "row" + row;
        for(let color = 0; color < colors[row].length; color++){
            let newColor = document.createElement("button");
            newColor.style.backgroundColor = colors[row][color];
            newColor.id = colors[row][color];
            newColor.onclick = function(){
                const icons = document.querySelectorAll(".icon");
                icons.forEach(icon => {
                    icon.style.backgroundColor = colors[row][color];
                });
                palette.remove();
            }
            newColor.style.padding = "10px";
            paletteRow.appendChild(newColor);
        }
        paletteRow.style.display = "flex";
        palette.appendChild(paletteRow);
    }
    element.appendChild(palette);
}
</script>
</html>
